.landing-page {
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page .container-1 {
    width: 50%;

    display: flex;
    justify-content: center;
}

.landing-page .container-2 {
    width: 50%;

    display: flex;
    justify-content: center;
}