.public-layout {
    height: 100%;
}

.public-layout header {
    background-color: rgb(90, 90, 90);
    height: 90px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.public-layout header form {
    height: 70%;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

form .inputs__container {
    width: 60%;

    display: flex;
    justify-content: space-around;
}

form .inputs__container input {
    height: 40px;

    border-style: none;
    border-radius: 8px;
}

form .submit-button__container {
    width: 20%;

    display: flex;
    justify-content: center;
}

form .submit-button__container #submit-button {
    height: 40px;
    width: 90px;

    border-style: none;
    border-radius: 8px;

    background-color: rgb(111, 202, 111);
}

.public-layout .content {
    height: calc(100% - 90px);
}